# Cleaning scrapped data

## Libraries

In [2]:
import pandas as pd
import numpy as np

## Processing

In [3]:
df = pd.read_csv('glassdoor_jobs.csv',header = 0, index_col=0)

In [4]:
# Format corrections

df['Company Name'] = df['Company Name'].astype('string')

### Comments on dataset
1. Parse salary 
2. Company name text only
3. extract state
4. Age of company
5. Parse job description (e.g. Language required,ect.)

In [5]:
# Marking the entries where per hour estimate is provided

df['hourly flag'] = df['Salary Estimate'].apply(lambda x: 1 if 'hour' in x.lower() else 0)

In [6]:
# Marking entries where Employer provided estaimte is available

df['employer provided flag'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer' in x.lower() else 0)

In [7]:
# Remove the entries with salary not found

df = df[df['Salary Estimate'] != '-1']

Add Min and Max ranges of salary to the dataframe

In [13]:
temp = df['Salary Estimate'].apply(lambda x: x.split("(")[0])

In [11]:
salary = df['Salary Estimate'].apply(lambda x: x.split("(")[0])

# Split will return all the splits created in the string based on delimiter provided. 
# Since we only need the salary, we pick the first split element from the output array in lambda function

# Replace $ and K in salary to get numeric range

salary = salary.apply(lambda x: x.replace("K","").replace("$",""))

salary = salary.apply(lambda x: x.lower().replace("per hour","").replace("employer provided salary:",""))

# Put range of salary in dataframe

display(salary)

#df['min_salary'] = salary.apply(lambda x: x.split("-")[0]).astype('int8')
#df['max_salary'] = salary.apply(lambda x: x.split("-")[1]).astype('int8')

0       53-91
1      63-112
2       80-90
3       56-97
4      86-143
        ...
950    58-111
951    72-133
952     56-91
953    95-160
955    61-126
Name: Salary Estimate, Length: 742, dtype: object

In [10]:
display(df.loc[df['min_salary'] < 0, ['min_salary','max_salary','Company Name']])

     min_salary  max_salary                  Company Name
48         -106         -96              BPA Services
5.0
49          -98         -45                 Visa Inc.
3.7
79         -117         -36                  Grainger
3.6
117         -56          19                    Gallup
4.2
182        -125         -49                 Genentech
3.9
188        -124         -45           Western Digital
3.5
208         -56          -6             CA-One Tech Cloud
233        -118         -32                    Tapjoy
3.9
235         -66         -36             Credit Sesame
4.1
268        -125         -49                 Genentech
3.9
276        -124         -45           Western Digital
3.5
331         -56          -6             CA-One Tech Cloud
353        -126         -48          CK-12 Foundation
4.1
414        -118         -32                    Tapjoy
3.9
416         -66         -36             Credit Sesame
4.1
452         -54          50  Liberty Mutual Insurance
3.3
477        -106         -96              BPA Services
5.0
485        -117         -35                   Zest AI
3.9
524        -106         -17  Liberty Mutual Insurance
3.3
548         -80          33              Sage Intacct
4.7
603        -118         -32                    Tapjoy
3.9
605         -98         -45                 Visa Inc.
3.7
606        -106         -76            Quartet Health
3.9
608         -66         -36             Credit Sesame
4.1
634        -121         -45          Northrop Grumman
3.7
636        -127         -41                 Two Sigma
4.4
648        -106         -18   The Climate Corporation
3.2
675         -54          50  Liberty Mutual Insurance
3.3
701        -126         -50                 Confluent
4.7
745        -117         -35                   Zest AI
3.9
777        -120         -48                    Pfizer
4.0
782         -85          16              Grand Rounds
4.2
785        -106         -17  Liberty Mutual Insurance
3.3
855        -121         -45          Northrop Grumman
3.7
871        -106         -18   The Climate Corporation
3.2
913         -54          50  Liberty Mutual Insurance
3.3

Company name contains the rating for the company if available. We need to parse to retain just names

In [8]:
df.loc[df['Rating']<0,'company_txt'] = df['Company Name']

df.loc[df['Rating']>=0,'company_txt'] = df['Company Name'].apply(lambda x: x[:-4])

#display(df)

In [17]:
# Extract state from location

df['job_state'] = df['Location'].apply(lambda x: x.split(",")[1] if x != "-1" else "-1")
df['hq_state'] = df['Headquarters'].apply(lambda x: x.split(",")[1] if x != "-1" else "-1")
#display(df)

# Make flag for if job is in HQ location
df['job_in_HQ_flag'] = df['job_state'] == df['hq_state']

In [20]:
# Derive age of company based on current date

today_year = 2021

df['age_company'] = df['Founded'].apply(lambda x: today_year - x if x >=0 else x)

Extract the tool requirement from job descriptions in data

Based on quick search, we find that below are top tools used in industry. We createflags for these

1. SAS
2. Spark
3. Python
4. Matlab
5. Tensorflow
6. R - hard to create a flag for this. Maybe find Caps "R" in JD
7. Tableu

In [43]:
# We process R flag seperately
skill_array = ['SAS','Spark','Python','Matlab','Tensorflow','Tableau','AWS','hadoop']

for skill in skill_array:
    skill = skill.lower()
    df[f"{skill}_flag"] = df['Job Description'].apply(lambda x: 1 if skill in x.lower() else 0)

df["r_flag"] = df['Job Description'].apply(lambda x: 1 if ('r-studio' in x.lower() or 'r studio' in x.lower()) else 0)

In [45]:
#display(df)

# Save progress to csv file
# Can also use pickle to save session for fast load and to prevent losing formatting

df.to_pickle('./cleaned_jobs.pk1')